<html xmlns:th="http://www.thymeleaf.org">
<head><title>Home Page</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <app-root></app-root>
<header>
    <div class="main">
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>

        </ul>

    </div>
    <div class="title">
      <h1>  Praneeth Pranav Panorama Community</h1>
    </div>
    <div class="button">
        <a href="#" class="btn">LEARN MORE</a>
    </div>
</header>

</body>
</html>

